.navbar-nav{
    margin-top : 10px;
}
li {
    margin-right: 80px; 
    list-style: none ;
}
svg {
    margin-right : 5px;
    margin-left : 5px;
}
.logo {
    border : 1px solid black ; 
    border-radius : 50% ; 
}
.search {
    margin-left : 30px;
    margin-top : 17px;
}
#search {
    border-radius : 5px ; 
}
.navbar-nav{
    margin-left :   auto ; 
    margin-right :   auto ; 
    

}
a:hover {
    text-decoration : none ; 
}
header a {
    color : black ; 
}

.carousel {
    height : 200px ; 
    margin-bottom : 300px ; 
}
#cards article  {
    border : solid 2px ;
    border-radius : 10px ; 
    margin-left : auto ; 
    margin-right : auto ; 
    
}

header article , #equipe article {
    margin-left : auto ; 
    margin-right : auto ; 
}
 p{
    text-align : center ; 
    margin-top : 10px ; 
}
#cards a{
    border : 2px solid black ; 
    border-radius : 5px ;
    color : black ; 
    
}
#cards a:hover {
    background-color: black ;
    color : white ; 
    outline-style: none;
    
}
section   {
    margin-bottom : 200px ; 
}
h2{
    text-align : center ; 
    margin-bottom : 70px ; 
}
.cercle {
    margin-left : 10px ; 
    margin-right : 10px ; 
    margin-top : 10px ; 
    border : solid 5px ; 
    border-radius : 50% ; 
    overflow : hidden ; 
}
footer{
    height : 400px ;
    background-color: black; 
    color : white ; 
}
footer .row {
    position : relative ; 
    top : 100px ; 
}
footer li {
    margin-bottom : 20px ; 
}
footer #info {
    position : relative ; 
    top : 50px ; 
    right : 50px ; 
}
footer #carte {
    position : relative ; 
    left : 100px ; 
}
/* Mobile */ 
@media (max-width : 767px){
    .carousel {
        margin-bottom : 150px ; 
    }
    .carousel img {
        height : 300px ; 
    }
    /*sections*/
    #cards article {
        width : 100% ; 
        margin-bottom : 20px ;
    
    }
    #cards img {
          width : 100% ;
          height : 50% ; 
    }
    /*footer*/
    footer {
        height : 500px ; 
    }
    footer #info {
        position : relative ;
        top : 0; 
    }
    footer .row {
        top : 30px ; 
        left : 50px ; 
    }
    footer #carte {
        left : 0 ;
        top : 20px ; 
        
    }
    
}
/* Tablete */ 
@media (min-width :768px) and (max-width : 991px ){
    .carousel {
        margin-bottom : 150px ; 
    }
    .carousel img {
        height : 300px ; 
    }
    /*sections*/
    #cards article {
        width : 100% ; 
        margin-bottom : 20px ;
        display : flex ; 
    }
    #cards p {
        margin-top : 20px ;
        margin-left : auto ; 
        margin-right : auto ;
        font-size : 22px ; 
    }
    /*footer*/
    
    footer .row {
        top : 0px ; 
        height : 400px ; 
        }
    footer #info {
        right  : 0 ; 
    }
    footer #carte {
        left : 400px ;
        bottom : 100px ; 
    }
    footer .container {
         margin : 0 ; 
    }
    
}
@media (min-width : 992px ) and (max-width : 1200px)  {
    .carousel {
        margin-bottom : 200px ; 
    }
}
